body {
    font: 80% arial, helvetica, sans-serif;
    margin: 0;
}

.accessaid,
h1 {
    position: absolute;
    height: 0;
    overflow: hidden;
}

h2 {
    font-size: 1.5em;
    color: #036;
}

#header {
    background: #036 url("images/charlesdarwin.gif");
    height: 60px;
}

#navigation {
    float: left;
    width: 150px;
}

#content {
    margin-left: 150px;
}

#content img {
    width: 100px;
    height: 150px;
    padding: 1px;
    border: 1px solid #333;
    float: right;
    margin: 0 0 1em 1em;
}

#footer {
    clear: left;
    background: #ccc;
}

#footer p {
    margin: 0;
}

#container {
    position: relative;
    width: 580px;
    border: solid #036;
    border-width: 0 3px;
    margin: auto;
}